<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 20px;
            overflow: hidden;
            background-color: #f7f7f7;
            -webkit-user-select: none; /* Disable text selection */
        }
        .draggable {
            -webkit-app-region: drag;
            user-select: none; /* Disable text selection */
        }
        .converter-container {
            max-width: 100%;
            text-align: center;
        }
        #result-display {
            margin-top: 20px;
        }
        button, input, select {
            -webkit-app-region: no-drag;
        }
        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .input-group {
            margin: 0 15px;
        }
    </style>
</head>
<body>

<div class="converter-container draggable">
    <h1>Crypto Converter</h1>
    <div class="flex-container">
        <div class="input-group">
            <input type="number" id="crypto-input" class="form-control" placeholder="Enter crypto amount">
            <select id="crypto-symbol-select" class="form-control mt-2">
                <% cryptoList.forEach(function(crypto) { %>
                    <option value="<%= crypto.symbol %>"><%= crypto.name %> (<%= crypto.symbol %>)</option>
                <% }); %>
            </select>
        </div>
        <div class="input-group">
            <input type="number" id="fiat-input" class="form-control" placeholder="Enter fiat amount">
            <select id="fiat-symbol-select" class="form-control mt-2">
                <% fiatList.forEach(function(fiat) { %>
                    <option value="<%= fiat.symbol %>"><%= fiat.name %> (<%= fiat.symbol %>)</option>
                <% }); %>
            </select>
        </div>
    </div>
    <div id="result-display" class="alert alert-info mt-3" role="alert" style="display: none;"></div>
</div>

<script src="/js/converter.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
